<div class="container">
<div class="row">
    <div class="col">
      
    </div>
    <div class="col-6">
        <br><br><br><br><br><br>
      <div class="card border-success mb-3" style="max-width: 50rem;">
  <div class="card-header"><img src="../../img/12.jpg" class="card-img-top" alt="..."></div>
  <div class="card-body text-success">
    <h5 class="card-title">Skill</h5>
    <p class="card-text"> 
    <ul class="info" >
      {{#with myData.skill}}
        <li><span class="first-block">Skill 1 : </span><span class="second-block">{{skill1}}</span></li>
        <li><span class="first-block">Skill 2 : </span><span class="second-block">{{skill2}}</span></li>
        <li><span class="first-block">Skill 3 : </span><span class="second-block">{{skill3}}</span></li>
        <li><span class="first-block">Skill 4 : </span><span class="second-block">{{skill4}}</span></li>
      {{/with}}
    </ul>
  </div>
</div>
    </div>
    <div class="col">
      
    </div>
  </div>
</div>
<br><br><br><br><br><br><br>