<div class="container">
<div class="row">
    <div class="col">
      
    </div>
    <div class="col-6">
        <br><br><br><br><br><br>
      <div class="card border-success mb-3" style="max-width: 50rem;">
  <div class="card-header"><img src="../../img/13.png" class="card-img-top" alt="..."></div>
  <div class="card-body text-success">
    <h5 class="card-title">Workepxperience</h5>
    <p class="card-text"> 
        {{myData.workepxperience}}
  </div>
</div>
    </div>
    <div class="col">
      
    </div>
  </div>
</div>
<br><br><br><br><br><br><br>